manifest {
  author = "Sergey Abramov and Jeff Vierstra"
  mainScript = "main.nf"
  defaultBranch = "master"
  name = "allelic-mapping-pipeline"
  description = "Allelic imbalance pipeline from chromatin accessbility data"
  version = "0.1"
  nextflowVersion = "22.04.0"
}

// Run with a stricter shell, so errors are caught earlier
process.shell = ['/bin/bash', '-ueo','pipefail' ]


params {
	includeConfig './params.config'
}


profiles {
	Altius {
		// Run on SLURM and load the appropriate modules	
		process {
			executor = "slurm"
			queue = "queue0,pool"
			memory = { 32.GB * task.attempt }
			cache = "lenient"
			errorStrategy = { task.exitStatus == 143 ? 'retry' : 'terminate' }
			maxRetries = 3
    	}
		
		executor {
			$slurm {
				queueSize = 250
			}
		}
    		
		// Logging
 		// trace.enabled = true
		// trace.file = "pipeline_trace.txt"
		// timeline.enabled = true
		// timeline.file = "pipeline_timeline.html"
		// report.enabled = true
		// report.file = "pipeline_report.html"
  	}
}
