samples_file = '/net/seq/data/projects/sabramov/ENCODE4/genotyping/genotyping_iter2/clustering/metadata.clustered.tsv'
outdir = 'output'

// Installed conda path (uncomment if you have already unpacked conda environment from environment.yml)
conda = "/home/sabramov/miniconda3/envs/babachi"
// Installed WASP, see https://github.com/bmvdgeijn/WASP
wasp_path = '/home/sabramov/projects/ENCODE4/WASP'

nuclear_chroms = "/net/seq/data/genomes/human/GRCh38/noalts/GRCh38_no_alts.nuclear.txt"
genome_chrom_sizes_file="/net/seq/data/genomes/human/GRCh38/noalts/GRCh38_no_alts.chrom_sizes"
genome_fasta = "/net/seq/data/genomes/human/GRCh38/noalts/GRCh38_no_alts.fa"

// Path to genotypes files
genotype_file = "/net/seq/data/projects/sabramov/ENCODE4/genotyping/genotyping_iter2/genotypes/all.filtered.snps.annotated.vcf.gz"