samples_file = '/net/seq/data/projects/sabramov/ENCODE4/genotyping-test/genotyping_iter1/clustered/metadata.clustered.tsv'
genotyping_output = '/net/seq/data/projects/sabramov/ENCODE4/genotyping-test/genotyping_iter1'
genome = '/net/seq/data/genomes/human/GRCh38/noalts/GRCh38_no_alts'
outdir = 'output'

wasp_path = '/home/jvierstra/.local/src/WASP/'