star_idx = "/net/seq/data/genomes/human/GRCh38/noalts-sequins/STARgenome-gencode-v25/"
genome_fasta_file = "/net/seq/data/genomes/human/GRCh38/noalts/GRCh38_no_alts.fa"
genome_fasta_file = "/net/seq/data/genomes/human/GRCh38/noalts-sequins/STARgenome-gencode-v25/all.genome.fa.gz"
wasp_container = "/home/ezotova/230227_regulotyping/nf-allelic-mapping/wasp.sif"
wasp_path = "/opt/WASP"

