genotype_file = "/net/seq/data/projects/regulotyping-phaseI+II+stim/genotyping_panel/chroms1-22.phaseI+II+stim.annotated.ancestral.dedup.exon_regions_only.vcf.gz"
star_idx = "/home/ezotova/refs/hg38_sequins_Altius_STAR_2.7.9a"
genome_fasta_file = "/net/seq/data/genomes/human/GRCh38/noalts/GRCh38_no_alts.fa"
genome_fai_file = "/net/seq/data/genomes/human/GRCh38/noalts/GRCh38_no_alts.fai"
wasp_container = "/home/ezotova/230227_regulotyping/nf-allelic-mapping/wasp.sif"
wasp_path = "/opt/WASP"
phaser_container = "/home/ezotova/230227_regulotyping/gtex-pipeline/phASER/phaser_docker"
genes_bed = "/home/ezotova/refs/gencode.v26.GRCh38.genes.chr.bed"
